@using DreamDay.Models.Entities
@using System.Globalization
@model IEnumerable<Venue>

@{
    // var title = ViewContext.RouteData.Values["action"].ToString();
    ViewData["Title"] = "Venues List";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-controller="Venue" asp-action="Create" class="btn btn-primary">Create New Venue</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Created At (UTC)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venue in Model)
        {
            <tr>
                <td>@venue.Name</td>
                <td>@venue.Location</td>
                <td>@venue.Capacity.ToString()</td>
                <td>@venue.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-LK"))</td>
                <td>@venue.CreatedAt?.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@venue.Id" class="btn btn-info btn-sm m-1">Details</a>
                    <a asp-action="Edit" asp-route-id="@venue.Id" class="btn btn-warning btn-sm m-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@venue.Id" class="btn btn-danger btn-sm m-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>